.rightsidebar {
  background-color: white;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-content: center;
}

.right_sidebar_links {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-content: center;
  gap: 50px;
  margin: auto;
}

.right_sidebar_links .icons {
  width: 50px;
  height: 50px;
  color: #161caa;
}
