.home_container {
  background-color: #767aec;
  height: calc(100vh - 150px);
  display: flex;
  width: 100%;
  color: white;
}

#home_container_item1 {
  /* background-color: green; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: calc(100vh - 150px);
  flex: 1;
  padding: 0 0 0 5%;
  gap: 30px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

#home_container_item2 {
  height: calc(100vh - 150px);
  flex: 1;
  padding: 0 0 0 0%;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

#home_container_item1 h2 {
  font-size: 300%;
}

#home_container_item1 button {
  height: 40px;
  width: 170px;
  border: none;
  border-radius: 5px;
  background-color: #161caa;
  color: white;
}

#home_container_item2 img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  filter: brightness(0.8) contrast(1.2);
}

@media only screen and (max-width: 768px) {
  .home_container {
    flex-direction: column;
  }

  #home_container_item2 img {
    height: 300px;
    width: 100%;
    object-fit: contain;
  }
}
