.over_all_container {
  width: 100%;
  height: 100vh;
  background-color: #ffffff;
  display: flex;
}

.rightbar {
  flex: 1;
}

.container {
  height: 100vh;
  flex: 12;
  display: flex;
  flex-direction: column;
}

.navbar {
  flex: 1;
}

.container_item {
  display: flex;
  flex: 7;
}

.leftsidebar {
  flex: 1;
}

.container_item_item {
  flex: 6;
  display: flex;
  flex-direction: column;
}

.main {
  flex: 6;
}

footer {
  flex: 1;
}
