.leftsidebar {
  background-color: white;
  color: white;
  gap: 50px;
  padding: 20px 0;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.leftsidebar ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-size: 72%;
  color: blue;
}

.leftsidebar div h2 {
  color: #161caa;
  font-size: 120%;
}

.leftsidebar div p {
  color: #161caa;
  font-size: 83%;
  margin-top: 2px;
}

.leftsidebar img {
  height: 120px;
  width: 120px;
  border-radius: 100%;
  object-fit: fill;
}

.social_media {
  display: flex;
  gap: 10px;
}

.social_media .icons {
  width: 25px;
  height: 25px;
  color: #161caa;
}

@media only screen and (max-width: 768px) {
  .leftsidebar {
    display: none;
  }
}
