.navbar {
  background-color: #161caa;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

.navbar ul {
  display: flex;
  gap: 40px;
  list-style: none;
  flex: 1;
}

.navbar ul li {
  color: white;
}

/* .navbar img {
  height: 60px;
  width: 60px;
  padding: 50px;
  border-radius: 100px;
  object-fit: cover;
} */
